
<%= render 'list',{book: @book,user: @user} %>


<h2>Book detail</h2>

<table>
  <thead>
    <tr>
     <th><%= image_tag @user.get_image %></th>
     <th><%= @book.title %></th>
     <th><%= @book.body %></th>
     <th>
     <th>
        <%= link_to edit_book_path(@book.id) do %>
        <%= "edit" %>
        <% end %>
     </th>
     <th><%= link_to 'Destroy', book_path(@book.id),method: :delete,"data-confirm" =>"本当に削除しますか?" %></th>
    </tr>
 </thead>
 </table>
 <h4><%= @book.user.name %></h4>