<p id="notice"></p>

<div class="container">
  <div class="row">

<%= render 'list',{book: @book_new,user: @user} %>

<div class="col-md-8 offset-md-1">

        <h2>Book detail</h2>

        <table class="table">
             <tbody>
                <tr>
                    <th>
                    <%= link_to user_path(@user.id) do %>
                    <%= image_tag @user.get_profile_image,size:"100x100" %><br>
                    <%= @book.user.name %>
                    <% end %>
                     </th>

                     <th><%= link_to book_path(@book.id) do %>
                        <%= @book.title %>
                        <% end %></th>
                     <th><%= @book.body %></th>

                     <th>
                    <% if @user == current_user %>
                    <%= link_to "Edit",edit_book_path(@book.id),class:"btn btn-sm btn-success" %>
                    <% end %>
                     </th>
                     <th>
                    <% if @user == current_user %>
                    <%= link_to 'Destroy', book_path(@book.id),method: :delete,"data-confirm" =>"本当に削除しますか?",class:"btn btn-sm btn-danger" %></th>
                    <% end %>
                </tr>
            </tbody>
         </table>

    </div>
  </div>
</div>